<header id="navigation" class="p-navigation--sliding is-dark">
  <div class="p-navigation__row--25-75">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="/">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon"
                 src="https://assets.ubuntu.com/v1/82818827-CoF_white.svg"
                 alt="" />
          </div>
          <span class="p-navigation__logo-title">CODA</span>
        </a>
      </div>
      <ul class="p-navigation__items">
        <li class="p-navigation__item">
          <button class="js-menu-button p-navigation__link">Menu</button>
        </li>
      </ul>
    </div>
    <nav class="p-navigation__nav" id="main-nav" aria-label="Example main">
      <ul class="p-navigation__items js-dropdown-nav-list js-navigation-sliding-panel">
        <li>
          <a href="https://github.com/canonical/open-documentation-academy/issues" class="p-navigation__link">Task list</a>
        </li>
        <li>
          <a href="/recognition" class="p-navigation__link">Recognition</a>
        </li>
        <li class="p-navigation__item--dropdown-toggle js-navigation-dropdown-toggle"
            id="coda-events">
          <button href="#coda-events-menu"
                  aria-controls="coda-events-menu"
                  class="p-navigation__link">Academy events</button>
          <ul class="p-navigation__dropdown js-dropdown-nav-list js-navigation-sliding-panel"
              id="coda-events-menu"
              aria-hidden="true">
            <li class="p-navigation__item--dropdown-close" id="coda-events-back">
              <button href="#coda-events-menu"
                      aria-controls="coda-events-menu"
                      class="p-navigation__link js-back-button">Back</button>
            </li>
            <li>
              <a href="https://discourse.ubuntu.com/t/community-hour/42771" class="p-navigation__dropdown-item">Community Hour</a>
            </li>
            <li>
              <a href="https://discourse.ubuntu.com/t/community-hour-schedule/45291"
                 class="p-navigation__dropdown-item">Event schedule</a>
            </li>
          </ul>
        </li>
        <li class="p-navigation__item--dropdown-toggle js-navigation-dropdown-toggle"
            id="coda-resources">
          <button href="#coda-resources-menu"
                  aria-controls="coda-resources-menu"
                  class="p-navigation__link">Writing resources</button>
          <ul class="p-navigation__dropdown js-dropdown-nav-list js-navigation-sliding-panel"
              id="coda-resources-menu"
              aria-hidden="true">
            <li class="p-navigation__item--dropdown-close" id="coda-resources-back">
              <button href="#coda-resources-menu"
                      aria-controls="coda-resources-menu"
                      class="p-navigation__link js-back-button">Back</button>
            </li>
            <li>
              <a href="/resources/tutorials" class="p-navigation__dropdown-item">Tutorials</a>
            </li>
            <li>
              <a href="/resources/reference" class="p-navigation__dropdown-item">Reference articles</a>
            </li>
          </ul>
        </li>
        <li class="p-navigation__item--dropdown-toggle js-navigation-dropdown-toggle"
            id="coda-handbook">
          <button href="#coda-handbook-menu"
                  aria-controls="coda-handbook-menu"
                  class="p-navigation__link">Academy handbook</button>
          <ul class="p-navigation__dropdown js-dropdown-nav-list js-navigation-sliding-panel"
              id="coda-handbook-menu"
              aria-hidden="true">
            <li class="p-navigation__item--dropdown-close" id="coda-handbook-back">
              <button href="#coda-handbook-menu"
                      aria-controls="coda-handbook-menu"
                      class="p-navigation__link js-back-button">Back</button>
            </li>
            <li>
              <a href="/our-vision" class="p-navigation__dropdown-item">About the Academy</a>
            </li>
            <li>
              <a href="/handbook/howto/get-started" class="p-navigation__dropdown-item">Get started</a>
            </li>
            <li>
              <a href="/handbook/howto/work-on-an-issue" class="p-navigation__dropdown-item">Work on a task</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
<script src="{{ versioned_static('js/dist/navigation.js') }}"
        type="text/javascript"
        defer></script>
